archive.zip
*.out
*.bin
archiv.zip
*.dbgconf

.vs/*

sources/generated/*

sources/Device/Objects/*
sources/Device/Objects-Debug/*
sources/Device/Listings/*
sources/Device/Listings-Debug/*

sources/Loader/Objects/*
sources/Loader/Objects-Debug/*
sources/Loader/Listings/*
sources/Loader/Listings-Debug/*

sources/arm_fir_example/ARMCM4_debug/*
sources/arm_fir_example/RTE/*
